# Capstone Project - Car accident severity

### Applied Data Science Capstone by IBM/Coursera

## Introduction: Business Problem

With the transportation getting more and more convenient, more and more people choose to travel by car. However, traffic accidents are happening more and more frequently as well. Traffic accidents usually result in varying degrees of death and injury, so it is important for people to know the severity of traffic accidents and know how to protect ourselves.

Collisions he most common type of traffic accident, this project is about trying to build a model that could <b>predict the severity of collision</b>. In particular, this project will be targeted to stakeholders who will be driving at high frequency and the traffic accident rescue personnel.

## Data

Based on definition of our problem, factors that will influence our prediction are:

*   PERSONCOUNT
*	PEDCOUNT
*	PEDCYLCOUNT 
*	VEHCOUNT
*   ROADCOND
*   WEATHER
*   LIGHTCOND

Since some of the above data are related to the injuries and deathes of people and vehicles and some are related to the situation of the accident, I decide to choose them to determine the severity code.

But PEDCOUNT and PEDCYLCOUNT are not always noted down and are less relative, so I decide to drop these two statistics.

So the final factors we choose will be:

*   PERSONCOUNT
*	VEHCOUNT
*   ROADCOND
*   WEATHER
*   LIGHTCOND

In [96]:
import pandas as pd
import numpy as np

In [97]:
df=pd.read_csv('Downloads/Data-Collisions.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [98]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [99]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [100]:
df.shape

(194673, 38)

In [101]:
df.set_index('OBJECTID')

,SEVERITYCODE,X,Y,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,2,-122.323148,47.703140,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
2,1,-122.347294,47.647172,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
3,1,-122.334540,47.607871,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
4,1,-122.334803,47.604803,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
5,2,-122.306426,47.545739,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N
6,1,-122.387598,47.690575,320840,322340,E919477,Matched,Intersection,36974.0,24TH AVE NW AND NW 85TH ST,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
7,1,-122.338485,47.618534,83300,83300,3282542,Matched,Intersection,29510.0,DENNY WAY AND WESTLAKE AVE,...,Wet,Daylight,NaN,8344002.0,NaN,10,Entering at angle,0,0,N
9,2,-122.320780,47.614076,330897,332397,EA30304,Matched,Intersection,29745.0,BROADWAY AND E PIKE ST,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,6855,0,N
10,1,-122.335930,47.611904,63400,63400,2071243,Matched,Block,NaN,PINE ST BETWEEN 5TH AVE AND 6TH AVE,...,Dry,Daylight,NaN,6166014.0,NaN,32,One parked--one moving,0,0,N
12,2,-122.384700,47.528475,58600,58600,2072105,Matched,Intersection,34679.0,41ST AVE SW AND SW THISTLE ST,...,Dry,Daylight,NaN,6079001.0,NaN,10,Entering at angle,0,0,N
14,1,NaN,NaN,48900,48900,2024040,Matched,Alley,NaN,NaN,...,Dry,Daylight,NaN,6145029.0,NaN,22,One car leaving driveway access,0,0,N
15,1,-122.333831,47.547371,38800,38800,C654800,Matched,Intersection,33194.0,1ST AV S BR NB AND EAST MARGINAL WAY S,...,Dry,Daylight,NaN,5223041.0,NaN,10,Entering at angle,0,0,N
16,1,-122.356273,47.571375,2771,2771,1211870,Unmatched,Block,NaN,SW SPOKANE ST BETWEEN SW SPOKANE W BR AND TERM...,...,Wet,Dark - Street Lights On,NaN,3137016.0,NaN,14,From same direction - both going straight - on...,0,0,N
17,1,-122.323966,47.606374,32800,32800,2128498,Matched,Block,NaN,TERRY AVE BETWEEN JAMES ST AND CHERRY ST,...,Wet,Dark - No Street Lights,NaN,5356027.0,NaN,32,One parked--one moving,0,0,N
19,2,-122.317414,47.664028,1212,1212,3507861,Matched,Block,NaN,ROOSEVELT WAY NE BETWEEN NE 47TH ST AND NE 50T...,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,30,From opposite direction - all others,0,0,N
20,1,-122.337663,47.617510,330878,332378,3838086,Unmatched,Block,NaN,9TH AVE BETWEEN LENORA ST AND BLANCHARD ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
21,2,-122.344539,47.692012,46300,46300,2023080,Matched,Intersection,37365.0,AURORA AVE N AND N 87TH ST,...,Dry,Daylight,NaN,5182022.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N
23,1,NaN,NaN,23000,23000,537838,Matched,Block,NaN,BATTERY ST TUN ON RP BETWEEN BELL ST AND ALASK...,...,Dry,Daylight,NaN,4016025.0,NaN,14,From same direction - both going straight - on...,0,0,N
24,2,-122.328270,47.571420,330833,332333,EA29752,Matched,Block,NaN,S SPOKANE SR ST BETWEEN 4TH AVE S AND 5TH AVE S,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
25,1,-122.383802,47.583715,97100,97100,2894590,Matched,Block,NaN,41ST AVE SW BETWEEN SW WALKER ST AND SW COLLEG...,...,Dry,Unknown,NaN,9152035.0,NaN,32,One parked--one moving,0,0,N
26,2,-122.292403,47.732847,1347,1347,3608880,Matched,Block,NaN,LAKE CITY WAY NE BETWEEN NE 143RD ST AND NE 14...,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
28,2,-122.313786,47.708535,1323,1323,3502831,Matched,Intersection,36505.0,14TH AVE NE AND NE NORTHGATE WAY,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
29,1,-122.318169,47.615837,80000,80000,2882620,Matched,Block,NaN,11TH AVE BETWEEN E PINE ST AND E OLIVE ST,...,Dry,Dark - Street Lights On,NaN,8200013.0,NaN,32,One parked--one moving,0,0,N
31,1,-122.337486,47.589746,28700,28700,1213894,Matched,Block,NaN,ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR ...,...,Unknown,Unknown,NaN,4256026.0,NaN,51,Other object,0,0,N
33,2,-122.279658,47.553405,1268,1268,3672152,Matched,Intersection,33499.0,RAINIER AVE S AND S BRANDON ST,...,Dry,Daylight,NaN,NaN,Y,14,From same direction - both going straight - on...,0,0,N
34,2,-122.312857,47.599218,320932,322432,E926429,Matched,Block,NaN,S JACKSON ST BETWEEN 14TH AVE S AND 16TH AVE S,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,0,0,N
35,1,-122.330730,47.615450,113300,113300,3346338,Matched,Intersection,29865.0,BOREN AVE AND OLIVE WAY,...,Wet,Unknown,NaN,10317016.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N
36,1,-122.385859,47.581191,64700,64700,2798260,Matched,Block,NaN,SW ADMIRAL WAY BETWEEN 42ND AVE SW AND CALIFOR...,...,Dry,Daylight,NaN,7204015.0,NaN,10,Entering at angle,0,0,N
37,1,-122.304990,47.611474,1083,1083,3605909,Matched,Block,NaN,21ST AVE BETWEEN E MARION ST AND E UNION ST,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
38,1,NaN,NaN,61500,61500,2607270,Matched,Block,NaN,1ST AVE S BETWEEN 1ST AVS ON N RP AND S ROYAL ...,...,Dry,Daylight,NaN,6320040.0,NaN,32,One parked--one moving,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219510,1,-122.345863,47.612991,307577,308857,3811871,Matched,Block,NaN,1ST AVE BETWEEN BLANCHARD ST AND BELL ST,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,20,One car leaving parked position,0,0,N
219511,1,-122.330298,47.603233,312117,313537,E885893,Matched,Intersection,30479.0,4TH AVE AND JAMES ST,...,Dry,Dusk,NaN,NaN,NaN,10,Entering at angle,0,0,N
219512,2,-122.328079,47.604161,307692,308972,E851047,Matched,Intersection,29973.0,6TH AVE AND JAMES ST,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,16,From same direction - one right turn - one str...,0,0,N
219513,1,-122.320756,47.608656,312289,313709,E872044,Unmatched,Block,NaN,BROADWAY BETWEEN CHERRY ST AND E COLUMBIA ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
219514,2,-122.355449,47.704720,308575,309855,E872078,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 104TH ST AND HOLMAN ...,...,Wet,Dusk,NaN,NaN,NaN,0,Vehicle going straight hits pedestrian,0,0,N
219515,1,-122.357624,47.635956,307792,309072,3578593,Matched,Block,NaN,W HOWE ST BETWEEN QUEEN ANNE AVE N AND 1ST AVE W,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,10,Entering at angle,0,0,N
219516,2,-122.302382,47.626759,307985,309265,E869075,Matched,Intersection,29328.0,23RD AVE E AND E ALOHA ST,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
219517,2,-122.355298,47.684382,310417,311717,3751221,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 76TH ST AND N 77TH ST,...,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
219519,1,-122.320780,47.614076,309594,310874,E881227,Matched,Intersection,29745.0,BROADWAY AND E PIKE ST,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,0,Vehicle going straight hits pedestrian,0,522257,N
219520,1,-122.335527,47.617434,308698,309978,3812450,Matched,Block,NaN,TERRY AVE BETWEEN VIRGINIA ST AND LENORA ST,...,Wet,Dusk,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
219521,2,-122.322097,47.649615,308342,309622,3693206,Matched,Block,NaN,HARVARD AVE E BETWEEN E ALLISON ST AND EASTLAK...,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
219522,1,-122.312679,47.719414,311117,312437,E881587,Unmatched,Intersection,36427.0,15TH AVE NE AND NE 125TH ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
219523,2,-122.380016,47.664879,310911,312231,3751425,Unmatched,Intersection,25174.0,LEARY AVE NW AND NW DOCK PL,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,650595,N
219524,2,-122.340474,47.614496,312179,313599,E885580,Matched,Intersection,29545.0,5TH AVE AND LENORA ST,...,Dry,Daylight,NaN,NaN,NaN,2,Vehicle turning left hits pedestrian,0,523322,N
219525,1,-122.337137,47.610709,307834,309114,3811279,Matched,Block,NaN,4TH AVE BETWEEN PIKE ST AND PINE ST,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
219528,1,-122.302554,47.584099,311697,313057,E886941,Matched,Block,NaN,RAINIER AVE S BETWEEN 23RD AVE S AND S WALKER ST,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
219529,1,-122.298955,47.717456,308019,309299,3767486,Matched,Block,NaN,NE 123RD ST BETWEEN HIRAM PL NE AND 28TH AVE NE,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
219531,2,NaN,NaN,308990,310270,3811749,Matched,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,...,Wet,Other,NaN,NaN,NaN,52,Vehicle overturned,0,0,N
219532,2,-122.306092,47.617881,308532,309812,3814599,Matched,Block,NaN,20TH AVE BETWEEN E MADISON ST AND E DENNY WAY,...,Dry,Daylight,NaN,NaN,NaN,29,From opposite direction - one left turn - one ...,0,0,N
219535,1,-122.337880,47.625793,307802,309082,E869008,Matched,Block,NaN,VALLEY ST BETWEEN WESTLAKE AVE N AND TERRY AVE N,...,Dry,Dusk,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
219536,2,-122.299160,47.579673,309335,310615,E880807,Matched,Block,NaN,RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLE...,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
219537,1,-122.325887,47.643191,309222,310502,E879537,Matched,Intersection,28300.0,EASTLAKE AVE E AND E ROANOKE ST,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
219538,1,-122.304217,47.669537,308480,309760,3642620,Matched,Intersection,26005.0,NE PARK RD AND NE RAVENNA WB BV,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
219539,2,-122.344569,47.694547,309170,310450,E879712,Matched,Block,NaN,AURORA AVE N BETWEEN N 90TH ST AND N 91ST ST,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
219541,1,-122.361672,47.556722,307804,309084,3745813,Matched,Block,NaN,PUGET BLVD SW BETWEEN SW HUDSON ST AND DEAD END 1,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,50,Fixed object,0,0,N
219543,2,-122.290826,47.565408,309534,310814,E871089,Matched,Block,NaN,34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST,...,Dry,Daylight,NaN,NaN,NaN,24,From opposite direction - both moving - head-on,0,0,N
219544,1,-122.344526,47.690924,309085,310365,E876731,Matched,Block,NaN,AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST,...,Wet,Daylight,NaN,NaN,NaN,13,From same direction - both going straight - bo...,0,0,N
219545,2,-122.306689,47.683047,311280,312640,3809984,Matched,Intersection,24760.0,20TH AVE NE AND NE 75TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
219546,2,-122.355317,47.678734,309514,310794,3810083,Matched,Intersection,24349.0,GREENWOOD AVE N AND N 68TH ST,...,Dry,Dusk,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,4308,0,N
219547,1,-122.289360,47.611017,308220,309500,E868008,Matched,Block,NaN,34TH AVE BETWEEN E MARION ST AND E SPRING ST,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

In [102]:
df1.dropna()

        SEVERITYCODE  PERSONCOUNT  VEHCOUNT ROADCOND WEATHER LIGHTCOND
0                  2            2         2        2       3         1
1                  1            2         2        2       2         2
2                  1            4         3        1       3         1
3                  1            3         3        1       1         1
4                  2            2         2        2       2         1
5                  1            2         2        1       1         1
6                  1            2         2        2       2         1
7                  2            3         1        1       1         1
8                  1            2         2        1       1         1
9                  2            2         2        1       1         1
10                 1            2         2        1       3         1
11                 1            2         2        1       1         1
12                 1            0         2        2       2         2
13                 1            2         2        2       2         6
14                 2            2         2        1       1         2
16                 2            3         2        1       3         1
17                 1            0         2        1       3         1
18                 2            4         3        1       1         1
19                 1            2         2        1       4         3
20                 2            3         2        1       1         2
21                 2            5         3        1       1         1
22                 1            2         2        1       1         2
23                 1            1         1        3       4         3
24                 2            3         2        1       1         1
25                 2            2         1        1       1         1
26                 1            2         2        2       3         3
27                 1            2         2        1       1         1
28                 1            2         2        1       1         1
29                 1            2         2        1       1         1
30                 1            3         2        2       2         2
...              ...          ...       ...      ...     ...       ...
194640             2            2         1        2       3         7
194641             1            2         2        1       1         1
194642             1            2         2        1       1         1
194643             1            2         2        1       1         2
194644             1            2         2        1       1         4
194645             2            5         2        1       1         2
194647             2            2         1        2       2         4
194648             1            2         2        2       2         2
194649             2            6         3        1       1         2
194650             2            5         5        1       1         1
194651             1            3         1        2       1         2
194652             1            3         2        2       3         4
194653             2            6         6        2       3         2
194656             2            2         1        1       1         1
194657             1            2         2        2       2         2
194658             1            3         3        2       2         2
194659             1            2         2        2       2         2
194660             2            1         1        2       2         8
194661             2            2         2        1       1         1
194662             1            2         2        1       1         4
194663             2            3         2        2       2         1
194664             1            8         3        1       1         1
194665             1            2         2        1       1         1
194666             2            2         2        2       1         1
194667             1            1         1        2       2         2
194668             2            3         2        1       1         1
194669             1            2         2        2       2         1
194670             2            3         2        1       1         1
194671             2            2         1        1       1         4
194672             1            2         2        2       1         1

[189337 rows x 6 columns]

In [103]:
df1=df[['SEVERITYCODE','PERSONCOUNT','VEHCOUNT','ROADCOND','WEATHER','LIGHTCOND']]
df1.head()

,SEVERITYCODE,PERSONCOUNT,VEHCOUNT,ROADCOND,WEATHER,LIGHTCOND
0,2,2,2,Wet,Overcast,Daylight
1,1,2,2,Wet,Raining,Dark - Street Lights On
2,1,4,3,Dry,Overcast,Daylight
3,1,3,3,Dry,Clear,Daylight
4,2,2,2,Wet,Raining,Daylight

In [104]:
df1['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [105]:
df1.ROADCOND[df1.ROADCOND == 'Dry'] = 1
df1.ROADCOND[df1.ROADCOND == 'Wet'] = 2
df1.ROADCOND[df1.ROADCOND == 'Unknown'] = 3
df1.ROADCOND[df1.ROADCOND == 'Ice'] = 4
df1.ROADCOND[df1.ROADCOND == 'Snow/Slush'] = 5
df1.ROADCOND[df1.ROADCOND == 'Other'] = 6
df1.ROADCOND[df1.ROADCOND == 'Standing Water'] = 7
df1.ROADCOND[df1.ROADCOND == 'Sand/Mud/Dirt'] = 8
df1.ROADCOND[df1.ROADCOND == 'Oil'] = 9

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [106]:
df1['WEATHER'].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [107]:
df1.WEATHER[df1.WEATHER == 'Clear'] = 1
df1.WEATHER[df1.WEATHER == 'Raining'] = 2
df1.WEATHER[df1.WEATHER == 'Overcast'] = 3
df1.WEATHER[df1.WEATHER == 'Unknown'] = 4
df1.WEATHER[df1.WEATHER == 'Snowing'] = 5
df1.WEATHER[df1.WEATHER == 'Other'] = 6
df1.WEATHER[df1.WEATHER == 'Fog/Smog/Smoke'] = 7
df1.WEATHER[df1.WEATHER == 'Sleet/Hail/Freezing Rain'] = 8
df1.WEATHER[df1.WEATHER == 'Blowing Sand/Dirt'] = 9
df1.WEATHER[df1.WEATHER == 'Severe Crosswind'] = 10
df1.WEATHER[df1.WEATHER == 'Partly Cloudy'] =11

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [108]:
df1['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [109]:
df1.LIGHTCOND[df1.LIGHTCOND == 'Daylight'] = 1
df1.LIGHTCOND[df1.LIGHTCOND == 'Dark - Street Lights On'] = 2
df1.LIGHTCOND[df1.LIGHTCOND == 'Unknown'] = 3
df1.LIGHTCOND[df1.LIGHTCOND == 'Dusk'] = 4
df1.LIGHTCOND[df1.LIGHTCOND == 'Dawn'] = 5
df1.LIGHTCOND[df1.LIGHTCOND == 'Dark - No Street Lights'] = 6
df1.LIGHTCOND[df1.LIGHTCOND == 'Dark - Street Lights Off'] = 7
df1.LIGHTCOND[df1.LIGHTCOND == 'Other'] = 8
df1.LIGHTCOND[df1.LIGHTCOND == 'Dark - Unknown Lighting'] = 9

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [126]:
df1.dropna(inplace=True)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [127]:
X = np.asarray(df1[['PERSONCOUNT', 'VEHCOUNT', 'ROADCOND', 'WEATHER', 'LIGHTCOND']])
X[0:5]

array([[2, 2, 2, 3, 1],
       [2, 2, 2, 2, 2],
       [4, 3, 1, 3, 1],
       [3, 3, 1, 1, 1],
       [2, 2, 2, 2, 1]], dtype=object)

In [128]:
y = np.asarray(df1['SEVERITYCODE'])
y [0:5]

array([2, 1, 1, 1, 2])

In [129]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-0.33905581,  0.05306845,  0.70875343,  1.10587178, -0.59511457],
       [-0.33905581,  0.05306845,  0.70875343,  0.20504641,  0.34710496],
       [ 1.13648946,  1.8466818 , -0.60855849,  1.10587178, -0.59511457],
       [ 0.39871683,  1.8466818 , -0.60855849, -0.69577897, -0.59511457],
       [-0.33905581,  0.05306845,  0.70875343,  0.20504641, -0.59511457]])

In [130]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (151469, 5) (151469,)
Test set: (37868, 5) (37868,)

In [131]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [132]:
yhat = LR.predict(X_test)
yhat

array([1, 1, 1, ..., 1, 1, 1])

In [133]:
yhat_prob = LR.predict_proba(X_test)
yhat_prob

array([[0.69761159, 0.30238841],
       [0.85021833, 0.14978167],
       [0.77419807, 0.22580193],
       ...,
       [0.85596037, 0.14403963],
       [0.78616069, 0.21383931],
       [0.75429639, 0.24570361]])

In [134]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

//anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:635: DeprecationWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  'and multiclass classification tasks.', DeprecationWarning)

0.6987958170486954

In [135]:
from sklearn.metrics import log_loss
log_loss(y_test, yhat_prob)

0.5851352839636487

In [137]:
from sklearn.metrics import classification_report
print (classification_report(y_test, yhat))

              precision    recall  f1-score   support

           1       0.71      0.97      0.82     26362
           2       0.53      0.08      0.13     11506

    accuracy                           0.70     37868
   macro avg       0.62      0.52      0.48     37868
weighted avg       0.65      0.70      0.61     37868